

.headingMainColorful {
    padding-top: 100px !important;
}
.subheading{
    text-align: center;
    font-size: 24px;
    color: #232323;
    line-height: 30px;
    font-weight: 400;
    /* font-family: Gontserrat; */
}

/* catering button */

.cateringmenubtn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    /* Ensure button takes the full height of the navbar */
    padding: 0 10px;
    /* Add padding for better clickability */
}

.cateringmenubtn a {
    color: white;
    text-decoration: none;
}



.cateringmenubtn {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 190px;
    display: flex;
    border: none;
    outline: none;
    width: 190px;
    height: 42px;
}


/* Styled anchor inside the button */
.cateringmenubtn a {
    display: inline-block;
    background-color: #00706E;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    /* padding: 15px 30px; */
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Custom dashed border effect */
.cateringmenubtn::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 5px;
    padding: 0;
    background:
        repeating-linear-gradient(90deg, #00706E 0, #00706E 6px, transparent 6px, transparent 12px),
        repeating-linear-gradient(180deg, #00706E 0, #00706E 6px, transparent 6px, transparent 12px),
        repeating-linear-gradient(270deg, #00706E 0, #00706E 6px, transparent 6px, transparent 12px),
        repeating-linear-gradient(0deg, #00706E 0, #00706E 6px, transparent 6px, transparent 12px);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    z-index: 1;
}




/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
}

/* For IE and Edge */
body {
    -ms-overflow-style: none;
}




.moblisticons {
    display: none;
}

/* @media screen and (max-width : 1400px) {
    .cateringmenubtn {
        padding: 14px 4px;
    }

    .cateringmenubtn a {
        font-size: 12px;
        padding: 10px 15px;
    }
} */

@media screen and (max-width : 991px) {
    .moblisticons {
        display: block;
        padding: 10px 0;
    }
}


/* catering css */


/* Categories Container */
.categoriesContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 99999;
}



.categoriesContainer::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width : 1100px) {

    .categoriesContainer {
        justify-content: flex-start;
    }

}

/* Category Buttons */
.categoryItem {
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    flex: 0 0 auto;
    text-align: center;
    color: #096e6c;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Belmonte', sans-serif;
    transition: opacity 0.6s linear, color 0.3s ease-in;
    opacity: 40%;
    position: relative;
}

.categoryItem.activeCat {
    opacity: 100%;
}


/* Adding a smooth border-bottom transition */
.categoryItem::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #00706E;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.categoryItem.activeCat::after {
    width: 100%;
    left: 0;
}

/*  */



/* Category Items Container */
.categoryItemsContainer {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    margin: 20px 60px;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.5s ease-in-out;
}

/* Responsive: Two columns for medium screens */
@media (max-width: 1000px) {
    .categoryItemsContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 5px;

    }
}

/* Responsive: One column for small screens */
@media (max-width: 600px) {
    .categoryItemsContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 5px;
    }
    .headingMainColorful{
        font-size: 24px;
    }
    .subheading{
        font-size: 16px;
    }
}


/* Category Item */

.categoryCard {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    width: 310px;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}


.categoryCard img {
    width: 270px;
    height: 270px;
    border-radius: 20px;
    background-size: cover;
}

.categoryCard h1 {
    font-size: 26px;
    color: #232323;
    font-weight: 700;
    /* font-family: Gontserrat, 'Times New Roman', Times, serif; */
    margin: 10px 0;
}

.categoryCard p {
    font-size: 16px;
    color: #232323;
    font-weight: 400;
    /* font-family: Gontserrat, 'Times New Roman', Times, serif; */
}

@media screen and (max-width:500px) {
    .categoryCard img {
        width: 200px;
        height: 200px;
    }
}

/* expand css: */

/* Expanded Card Styles */
.categoryCard.expanded {
    height: auto;
    /* Allow the card to expand */
    padding-bottom: 20px;
    /* Add extra padding for expanded content */
}

.categoryCard.expanded img {
    margin-bottom: 15px;
    /* Add space below the image */
}

.categoryCard.expanded h1 {
    margin-bottom: 10px;
    /* Add space below the title */
}

.categoryCard.expanded p {
    margin-bottom: 15px;
    /* Add space below the location */
}

/* Headings for expanded content */
.categoryCard.expanded h2 {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: #000000;
}

/* Description section */
.categoryCard.expanded .description {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
    color: #000000;
    text-align: left;
    line-height: 1.3;
}

/* Notes section */
.categoryCard.expanded .notes {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    text-align: left;
    line-height: 1.4;

}

.categoryCard.expanded .notes ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Serving & Pricing section */
.categoryCard.expanded .serving-pricing {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    text-align: left;
}

.categoryCard.expanded .serving-pricing .details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.categoryCard.expanded .serving-pricing .details div {
    display: flex;
    flex-direction: column;
}

.categoryCard.expanded .serving-pricing .details div h3 {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}

.categoryCard.expanded .serving-pricing .details span {
    display: block;
    margin-bottom: 5px;
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
}


/* Quantity Button Styles */
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    background: transparent;
    color: white;
    border: 1px solid #00706E;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    transition: background-color 0.3s ease;
}

.quantity-btn {
    background-color: transparent;
    border: none !important;
    outline: none !important;
    color: #000000;
    font-size: 30px;
    cursor: pointer;
}

.quantity {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    min-width: 30px;
    text-align: center;
}

/* Add to Cart Button Styles */
.add-to-cart {
    background: #00706E;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
    border: none !important;
    outline: none !important;
}

.add-to-cart:hover {
    background-color: #005f5d;
}



/* Toppings Section Styles */
.toppings {
    margin-top: 20px;
}

.toppings h3 {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    /* margin-bottom: 10px; */
}

.topping-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}

.topping-item-name-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.topping-checkbox {
    margin-right: 10px;

}

/* Hide default radio */
.topping-radio {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.topping-radio:checked {
    border-radius: 3px;
}

.topping-radio:checked::before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
    position: absolute;
    border-radius: 2px;
}




.topping-name {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    flex-grow: 1;
    padding-top: 5px;
}

.topping-price {
    /* font-family: Gontserrat; */
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
}

.gramContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Cart Icon Styles */
.cartcontainer {
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 150px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: whitesmoke;
    padding: 15px 15px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.cart-counter {
    position: absolute;
    bottom: 12px;
    left: 13px;
    background-color: #6EC64C;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid white;
}

/* Fly-to-cart Animation */
@keyframes flyToCart {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.fly-to-cart {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #6EC64C;
    border-radius: 50%;
    animation: flyToCart 0.5s ease-in-out forwards;
    pointer-events: none;
}